MYSQL_DATABASE=mielchende
MYSQL_USER=mielchende_user
MYSQL_PASSWORD=cambia_esta_contrasena
MYSQL_ROOT_PASSWORD=cambia_esta_otra_contrasena
JWT_SECRET=genera_una_clave_con_openssl_rand_-base64_64

ADMIN_NAME=José Antonio
ADMIN_EMAIL=apicolachende@gmail.com
ADMIN_PASSWORD=cambia_esta_contrasena